*{
    padding:0px;
    margin:0px;
}

body {
    font-family: 'Poppins', sans-serif;


}


.first-segment {


    text-align: center;
    padding: 110px 150px;
    color: #800000;
    background-image: url(images/firstsegbgi.jpg);
    height: 75vh;
    


}
.first-segment h1{
    color:rgba(255, 0, 0, 0.775);
}

.first-segment p {

    
    padding:30px 100px 120px 30px;
    font-weight: 700;
}
.Donation-button{
    text-decoration: none;
    color:white;
    font-weight:700;

    padding: 10px 18px 15px 18px;
    margin:10px 70px 20px ; 
    background-image: linear-gradient(orange,red);
    border-radius: 5%;

}
.second-segment{
    text-align: center;
    padding: 110px 150px;
    font-size: 600;
}
.second-segment p{
    padding:30px 100px 120px 30px;
    font-weight: 700;
    color:red;

}